@font-face {
    font-family: 'Geist';
    src: url('/fonts/geist.woff2');
}

*, ::before, ::after {
    box-sizing: border-box;
    font-family: 'Geist', sans-serif;
}

.color-primary {
    color: #fff;
}

.color-secondary {
    color: #b3b3b3;
}

.medium-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on, 'ss05' on;
}

.medium-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
}

.caption {
    font-size: 12px;
    line-height: 135%;
    font-feature-settings: 'ss02' on, 'ss03' on;
}

body {
    background: #1d1d1d;
    display: flex;
    height: 100vh;
    margin: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#history {
    width: 260px;
    background-color: #212121;
    border-right: 1px solid #FFFFFF24;
}

#history-header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #FFFFFF24;
}

#history-list > * {
    border-bottom: 1px solid #FFFFFF24;
    display: flex;
    align-items: center;
}

#history-list > *:hover {
    background-color: #262626;
}

#history-list > * > a {
    padding: 0 16px;
    flex-grow: 1;
    text-decoration: none;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#history-list > * > button {
    color: #FFF;
    cursor: pointer;
    margin: 18px;
}

#history-list > * > button:hover {
    color: #ff5f42;
}

#history-list > * > button > svg {
    display: block;
}

#chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

#chat > * {
    width: 100%;
    max-width: 680px;
}

#disclaimer {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 84;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    font-feature-settings: 'ss02' on, 'ss03' on;
    color: #BFBFBF;
    text-align: center;
    margin-bottom: 36px;
}

#messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 16px;
}

.human, .ai {
    font-size: 14px;
    line-height: 140%;
    font-feature-settings: 'ss02' on, 'ss03' on;
}

.human {
    color: #a6a6a6;
}

.ai {
    color: #fff;
}

#input {
    background: #262626;
    border-radius: 4px;
    border: 0.5px solid #FFFFFF24;
    padding: 12px;
    position: sticky;
    bottom: 16px;
}

#input[data-empty]::before {
    content: "Send a message";
}
